<div class="container mt-5" style="width: 35rem;">
    <h1><i class="bi bi-box-arrow-in-right"></i> <%= title %></h1>
    <form action="/signin" method="POST">
        <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
    </form>
    <div class="mt-3">
        <a class="btn btn-link" href="/signup">Sign Up</a>
    </div>
</div>
